/* Style for the entire GUI container */
.super-container {
    font-family: 'Helvetica';
    border: 2px solid #666;
    border-radius: 2px;
    border-color: #626161;
    max-width: 67%; /* Set a maximum width */
    margin: 50px auto; /* Center the container horizontally with top and bottom margin */
    padding: 20px; /* Add padding inside the container */
}

/* Style for the search-section */
.search-section {
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 15px;
    max-width: 100%; /* Set maximum width to 100% */
    margin: 50px auto; /* Center horizontally with auto left/right margins */
    /* background-color: #ddd; */
}

/* Style for the input element */
.search-section input[type="text"] {
    flex: 1; /* Allow input to grow and take available space */
    padding: 12px; /* Add padding to the input field */
    font-size: 18px; /* Set the font size */
    border-radius: 8px 0 0 8px; /* Apply border radius */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow */
    background-color: #fff; /* Set background color */
    outline: none; /* Remove outline */
    height: 25px;
    width: 715px;
    vertical-align: middle;
    line-height: 1;
}

/* Style for the search button */
.search-section button {
    font-size: 16px; /* Set the font size */
    border-radius: 0 8px 8px 0; /* Apply border radius */
    background-color: #333; /* Set background color */
    color: #fff; /* Set text color */
    cursor: pointer; /* Show pointer cursor on hover */
    outline: none; /* Remove outline */
    transition: background-color 0.3s ease; /* Smooth transition */
    width: 100px;
    height: 52px;
    margin-top: -7px;

}

/* Hover effect for the search button */
.search-section button:hover {
    background-color: #626161; /* Darker background color on hover */
}

.jump {
    text-align: center;
}

.jump h2 {
    font-size: 16px;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #276cc0;

}

.jump a {
    font-size: 16px;
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.4s ease;
}

.jump a:hover {
    background-color: #eee;
    color: #333;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    /* Center content horizontally */
    min-height: 80vh; /* Adjust the height as needed */
    padding: 20px;
}

/* Style for the main content container */
.content {
    display: grid;
    grid-template-columns: 1fr 300px;
    /* Use grid layout with two columns */
    grid-gap: 20px;
    /* Add spacing between grid items */
    max-width: 1200px;
    /* Limit maximum width */
    width: 100%;
}

/* Style for anime and manga articles */
.article {
    background-color: #222121;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 25px;
}

.article h1 {
    font-size: 24px;
    color: #fff;
    margin-bottom: 10px;
    position: relative;
    scroll-margin-block-start: 40px;
}

/* Style for each search result item container */
.search-result {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ddd;
    /* border-bottom: 1px solid #ddd;  */
    /* Add bottom border between search results */
}

/* Adjust the size of the search result images */
.search-result img {
    width: 80px; /* Reduce image width */
    height: 110px; /* Reduce image height */
    margin-right: 20px;
    border-radius: 8px;
}

/* Style for text content within the result item */
.search-result .result-info {
    flex: 1;
}

.result-info a {
    color: 276cc0;
}

/* Additional styles for result info text */
.search-result .result-info h3 {
    font-size: 16px; /* Reduce title font size */
    margin-bottom: 5px;
}

.search-result .result-info p {
    font-size: 12px; /* Reduce paragraph font size */
    margin-bottom: 5px;
}

<<<<<<< HEAD
/* Left Section Styles */
.left-section {
    flex: 2;
    background-color: #222121;
    padding: 20px;
    border-right: 2px solid #666;
    margin-right: 0;
    /* Vertical line separating left-section */
}

/* Right Section Styles */
.right-section {
    flex: 1;
    background-color: #222121;
    padding: 20px;
}   

/* Widget Styles */
=======
/* Style for the right side */
.right-side {
    display: grid;
    grid-gap: 10px;
    /* Add spacing between grid items */
}

/* Style for widget containers */
>>>>>>> parent of 8de0084 (Updated CSS file to reflect left and right sections of JS file of the DictionaryGUI.)
.widget {
    padding: 20px;
    border-radius: 8px;
}

/* Style for widget headings */
.widget h2 {
    font-size: 16px;
    margin-bottom: 10px;
}
